* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

.img {
    height: 400px;
    width: 60%;
    margin: 30px 270px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 20px 30px 20px gray;
    transition: transform 0.5s;
}

.img:hover {
    transform: rotate(5deg);
}

.texto {
    text-align: center;
    font-family: cursive;
}

.container {
    display: grid;
    grid-template-areas:
     "insta instb instc instd"
     "inste instf instg insth";
}
 /*grid area index*/
.insta {
    grid-area: insta;
    align-items: center;
}
.instb {
    grid-area: instb;
    align-items: center;
}
.instc {
    grid-area: instc;
    align-items: center;
}
.instd {
    grid-area: instd;
    align-items: center;
}
.inste {
    grid-area: inste;
    align-items: center;
}
.instf {
    grid-area: instf;
    align-items: center;
}
.instg {
    grid-area: instg;
    align-items: center;
}
.insth {
    grid-area: insth;
    align-items: center;
}
     
.card {
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px rgb(21, 21, 31);
    overflow: hidden;
    transition: all 0.5s;
    font-size:20px;
    align-items: center;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px 2px rgb(57, 50, 65);
}

.bloque {
    margin: 40px 80px;
    background-image: linear-gradient(to right, grey, white);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 1px 2px 3px rgb(57, 50, 65);
}

.bloque__grid {
    border: 1px solid rgb(58, 58, 89);
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .bloque {
        grid-template-columns: 1fr ;
    }
    .container {
        display: grid;
        grid-template-areas:
         "insta instb"
         "instc instd"
         "inste instf"
         "instg insth";
    }

@media (max-width: 480px) {
    .container {
        display: grid;
        grid-template-areas:
         "insta instb"
         "instc instd"
         "inste instf"
         "instg insth";
    }
}
}