@import 'variables';

* {
    margin: 0px;
    padding: 0px;
}

h1 {
    color:rgb(17, 131, 49) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(12,74,26,0.4108018207282913) 38%, rgba(12,59,19,1) 71%, rgba(12,35,50,1) 100%);
}

.margen-s {
    margin: $margenSmall;
}

.margen-m {
    margin: $margenMedium;
}

.img {
    height: 400px;
    width: 60%;
    margin: 30px 270px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 10px 20px 10px $borderColor;
    transition: transform 0.5s;
}

.img:hover {
    transform: rotate(5deg);
}

.texto {
    text-align: center;
    font-family: cursive;
}

.container {
    display: grid;
    grid-template-areas:
     "insta instb instc instd"
     "inste instf instg insth";
}

 /*grid area index*/
.insta {
    grid-area: insta;
    align-items: $itemsCenter;
}
.instb {
    grid-area: instb;
    align-items: $itemsCenter;
}
.instc {
    grid-area: instc;
    align-items: $itemsCenter;
}
.instd {
    grid-area: instd;
    align-items: $itemsCenter;
}
.inste {
    grid-area: inste;
    align-items: $itemsCenter;
}
.instf {
    grid-area: instf;
    align-items: $itemsCenter;
}
.instg {
    grid-area: instg;
    align-items: $itemsCenter;
}
.insth {
    grid-area: insth;
    align-items: $itemsCenter;
}
     
.card {
    border-radius: 20px;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 2px 2px 4px rgb(21, 21, 31);
    overflow: hidden;
    transition: all 0.5s;
    font-size:20px;
    align-items: center;
}

.card a {
    font-weight: 40px;
    text-decoration: none;
    color: white;
    background-color: green;
    border-radius: 25px;
    padding: 10px 30px;
    display: block;
    margin: 15px;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 0 2px 2px rgb(57, 50, 65);
}

.bloque {
    margin: 40px 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);


&__grid {
    background-image: linear-gradient(to right, grey, white);
    border: 1px solid rgb(151, 151, 175);
    border-radius: 30px;
    box-shadow: 1px 2px 3px rgb(57, 50, 65);
    text-align: center;
    padding: 15px;
    margin: 5px;
}
}


//Mixim

@mixin list-base($margin, $color) {
     margin-left: $margin;
     color: $color;
     font-style: italic;
}    

.list-instrumentos {
    @include list-base(30px, rgb(109, 201, 109))
}

.list-accesorios {
    @include list-base(40px, rgb(166, 212, 166) )
}

// maps
$titulos: (
    contactos: rgb(99, 202, 99),
    productos: rgb(53, 236, 53),
);

@each $nombre, $color in $titulos {
    .link-#{$nombre} {
        font-style: italic;
        background-color: rgb(17, 85, 59);
        text-align: center;
    }
} 


@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .bloque {
        grid-template-columns: 1fr ;
    }
    .container {
        display: grid;
        grid-template-areas:
         "insta instb"
         "instc instd"
         "inste instf"
         "instg insth";
    }
    .img {
        height: 300px;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        display: grid;
        grid-template-areas:
         "insta instb"
         "instc instd"
         "inste instf"
         "instg insth";
    }
}

